<!-- search box form  -->
<div class="search-back">
    <form method="post" action="/openFile?id=<%= id %>">
        <label>Search By Mail</label>

    <input type="text" placeholder="Search by email" name="email">
    <button type="submit">Search</button>
</form>
<a href="/"><button id="for-back">Back</button></a>
</div>
<!-- Displaying the csv data in the table -->
<div class="table-container">

<table>
    <tr>
        <th>Index</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Company</th>
        <th>City</th>
        <th>Country</th>
        <th>Email</th>
    </tr>
    <tbody>
        <% if (data.length > 0) { %>
          <% data.forEach(item => { %>
            <tr>
              <td><%= item['Index'] %></td>
              <td><%= item['First Name'] %></td>
              <td><%= item['Last Name'] %></td>
              <td><%= item['Company'] %></td>
              <td><%= item['City'] %></td>
              <td><%= item['Country'] %></td>
              <td><%= item['Email'] %></td>
            </tr>
          <% }) %>
        <% } %>
      </tbody>
    
</table>
<!-- for pagination -->
<div class="pagination">
    <% for (let i = 1; i <= totalPages; i++) { %>
        <a href="?page=<%= i %>&id=<%= id %>">
            <button  <%= currentPage === i ? 'disabled' : '' %>><%= i %></button>
        </a>
    <% } %>
</div>
</div>
